#transcribed_paragraph{
  width: 100%;
  border: 1px solid blue;
  font-family: 'Courier Prime';font-size: 15px;
}

#table_holder {
  position:relative;
  display: block;
  width: 100%;
  height: 400px;
  border: 1px solid violet;
}

table { 
  margin-left: auto; 
  margin-right: auto; 
  font-family: 'Courier Prime';font-size: 15px;
  width: 100%; 
  table-layout: fixed;
  display: block;
}

table.fixed {table-layout:fixed;}/*Setting the table width is important!*/
table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {width:10%;}
table.fixed td:nth-of-type(2) {width:70%;}
table.fixed td:nth-of-type(3) {width:10%;}
table.fixed td:nth-of-type(4) {width:10%;}

table.fixed th {overflow:hidden;}/*Hide text outside the cell.*/
table.fixed th:nth-of-type(1) {width:10%;}
table.fixed th:nth-of-type(2) {width:70%;}
table.fixed th:nth-of-type(3) {width:10%;}
table.fixed th:nth-of-type(4) {width:10%;}


td { 
  border: 1px solid black; 
  text-align: center; 
  padding: 10px; 
}

th { 
  top:0px;
  position:sticky;
}

#registerTable {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid red;
  align-items: center;
  text-align: center;
}

.videoWrapper {
  position: relative;
  padding-bottom: 28.0%;
  /* 16:9 */
  /* padding-top: 10px; */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

#imageHolder {
  width: 50%;
  border: 1px solid pink;
}




#centerRow {
  position: relative;
  width: 100%;
  display:flex;
  border: 1px solid orange;
}

#bottomRow {
  position: relative;
  width: 100%;
  height: 140px;
  display:flex;
  border: 1px solid blue;
}

#centerLeft{
  border: 1px solid blue;
}

#bottomLeft{
  height: 100%;
  width: 890px;
  border: 1px solid maroon;
}

#sliderPlusText{
  padding: 10px;
}

#bottomRight{
  height: 100%;
  position: relative;
  flex-grow: 1;
  border: 1px solid maroon;
}

#imageToMark, #canvasWrapper {
  height: 500px;
  width: 888.75px;
  border: 1px solid pink;
}

#imageToMark{
  position: absolute;
}

#canvasWrapper{
  position: relative;
}

#drawingCanvas{
  position: absolute;
}

#secondBarWrapper{
  position: relative;
  height: 15px;
  width: 100%;
  background:  linear-gradient(0deg, #ccc 20pt, transparent 0);
}

.secondBarSegment{
  position: absolute;
  left: 10%;
  width: 50%;
  /* border: 1px solid green; */
  background: (255, 0, 0, 20);
  height: 100%;
}


/* #register {
  position: absolute;
  height : 85%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right : 8%;
  width : 30%;
  border: 1px solid blue;
} */
#register {
  position: relative;
  flex-grow: 1;
  border: 1px solid green;
}

#titleContainer {
  text-align: center;
  width: 300px;
  height: 100%;
  line-height: 60px;
  margin: auto;
  border: 1px solid red;
}

#subContainer {
  text-align: center;
  font-family: 'Courier Prime';font-size: 15px;
  width: 400px;
  height: 40px;
  padding: 0px 0;
  margin: auto;
}

#header {
  display: flex;
  text-align: center;
  line-height: 60px;
  margin: auto;
  border: 1px solid red;
  width: 100%;
  height:100px;
  font-family: 'Courier Prime';font-size: 15px;
}

.fileSelector{
  padding-left: 30px;
  padding-right: 10px;
  display:flex;
  align-items: center;
  border: 1px solid red;
}

.fileStatus{
  flex:1;
  border: 1px solid darkcyan;
}

.status{
  height : 49%;
  text-align: center; 
  line-height: 14px;
  border: 1px solid darkcyan;
}

#tableHolder {
  position:relative;
  display: block;
  height: 420px;
  border: 1px solid violet;
}

/* Define the slider width so that it scales properly */
#sliderThingy {
  display: table-cell;
  vertical-align: middle;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonCap{
  text-align: center;
  font-family: 'Courier Prime';font-size: 15px;
}
.playpause-track, .slidermode_btn, .clear_btn, .writeout_btn{
    padding: 0px;
    opacity: 0.8;
 
  /* Smoothly transition the opacity */
    transition: opacity .2s;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 6px;
    padding-left: 40px;
}

.interval_set1{
  padding: 25px;
  opacity: 0.8;

/* Smoothly transition the opacity */
  transition: opacity .2s;
}

/* Change the mouse cursor to a pointer
  when hovered over */
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,
  i.fa-compress,
  i.fa-exchange-alt,
  i.fa-eject
   {
      cursor: pointer;
  }

  /* Modify the appearance of the slider */
.seek_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: red;
    cursor: pointer;
    border-radius: 50%;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover{
    opacity: 1.0;
}
 
.seek_slider {
    width: 60%;
}

.current-time,
.total-duration {
    font-family: 'Courier Prime';font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

input#z::-webkit-slider-thumb{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  margin: 5.75px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  padding: 0px 0px;
}